@charset "utf-8";

/**
 * --------------------------------
 * style CSS
 * creator : chowoobin, leejeha
 * --------------------------------
*/

/* 발송현황 공통 : calendar-date */
.calendar-date {position:relative;margin-top:40px;text-align:center;}
.calendar-date p {display:inline-block;margin:0 33px;color:#111;font-size:24px;font-weight:500;vertical-align:middle;}
.calendar-date button {display:inline-block;width:30px;height:30px;background-color:#fff;background-repeat:no-repeat;background-position:50% 50%;border:1px solid #E1E1E1;border-radius:3px;text-indent:-9999px;}
.calendar-date button:hover {box-shadow:#ccc 0px 3px 6px;transition:all .4s;}
.calendar-date .btn-prev {background-image:url("../img/ems/btn_calendarprev.png");}
.calendar-date .btn-next {background-image:url("../img/ems/btn_calendarnext.png");}
.calendar-date .btn-calendar {position:absolute;top:3px;left:50%;background-image:url("../img/ems/btn_calendar.png");}
.calendar-date .btn-prev:hover {background-image:url("../img/ems/btn_calendarprev_on.png");}
.calendar-date .btn-next:hover {background-image:url("../img/ems/btn_calendarnext_on.png");}
.calendar-date .btn-calendar:hover {background-image:url("../img/ems/btn_calendar_on.png");}

/* 발송현황 공통 : calendar-state */
.calendar-state {margin-top:20px;text-align:right;}
.calendar-state li {display:inline-block;margin-left:13px;padding-left:22px;background-repeat:no-repeat;background-position:0 50%;color:#111;font-size:14px;font-weight:500;}
.calendar-state li.wait {background-image:url("../img/ems/icon_week_wait.png");}
.calendar-state li.ing {background-image:url("../img/ems/icon_week_ing.png");}
.calendar-state li.end {background-image:url("../img/ems/icon_week_end.png");}

/* 발송현황 공통 : date-list */
.date-list {color:#666;}
.date-list > div {margin-top:11px;padding-left:22px;background-repeat:no-repeat;background-position:0 2px;}
.date-list > div:first-child {margin-top:0;}
.date-list > div.wait {background-image:url("../img/ems/icon_week_wait.png");}
.date-list > div.ing {background-image:url("../img/ems/icon_week_ing.png");}
.date-list > div.end {background-image:url("../img/ems/icon_week_end.png");}
.date-list p {display:inline-block;}
.date-list p span {display:block;}
.date-list em {color:#111;font-weight:500;}
.date-list a {display:inline-block;margin-bottom:3px;color:#1D37FF;font-weight:600;border-bottom:1px solid #1D37FF;}
.date-list .time {display:inline-block;vertical-align:top;}

/* 발송현황 - 주간일정 */
.week-wrap .calendar-date .btn-calendar {margin-left:210px;}
.calendar-week {margin-top:10px;}
.calendar-week ul {display:table;width:100%;margin-top:11px;background:#fff;box-shadow:#ccc 0px 3px 10px;border-radius:10px;}
.calendar-week li {display:table-row;}
.calendar-week li:first-child > div {border-top:none;}
.calendar-week li > div {display:table-cell;vertical-align:middle;border-top:1px solid #E1E1E1;}
.calendar-week li > div:first-child {width:90px;padding:15px 0;background:#F2F2F2;font-size:14px;font-weight:500;text-align:center;}
.calendar-week li > div:last-child {width:calc(100% - 90px);padding:15px 20px;}
.calendar-week .today {display:block;margin-top:-5px;color:#5668F0;font-size:9px;}
.calendar-week .today:before {content:"";display:inline-block;width:6px;height:6px;margin-right:3px;background:#5668F0;vertical-align:middle;border-radius:100%;}

/* 발송현황 - 월간일정 */
.month-wrap .calendar-date .btn-calendar {margin-left:124px;}
.calendar-month {margin-top:10px;border:1px solid #E1E1E1;border-radius:10px;box-shadow:#eee 0px 3px 10px;overflow:hidden;}
.calendar-month table thead th {height:50px;background:#F2F2F2;font-size:14px;font-weight:500;}
.calendar-month table tbody td {position:relative;height:140px;font-size:13px;font-weight:500;vertical-align:top;border:1px solid #E1E1E1;}
.calendar-month table tbody td > span {position:absolute;top:3px;left:2px;width:25px;height:25px;line-height:23px;text-align:center;z-index:1;}
.calendar-month table tbody tr:first-child td{border-top:none;}
.calendar-month table tbody tr:last-child td{border-bottom:none;}
.calendar-month table tbody tr td:first-child{border-left:none;}
.calendar-month table .btn-popopen {display:block;position:relative;top:0;left:0;width:100%;height:100%;padding-top:4px;border:1px solid transparent;overflow-y:auto;}
.calendar-month table .btn-popopen:hover {background:#FCFCFC;border-color:#111;box-shadow:#ccc 0px 3px 6px;}
.calendar-month table .mark {margin-top:5px;margin-left:24px;padding-right:8px;}
.calendar-month table .mark span {display:block;position:relative;margin-bottom:2px;padding:3px 12px 3px 15px;background:#F2F2F2;font-size:13px;font-weight:500;text-align:left;letter-spacing:-0.05em;border-radius:3px;}
.calendar-month table .mark span:before {content:"";position:absolute;top:12px;left:8px;width:3px;height:3px;border-radius:100%;}
.calendar-month table .mark span.today {color:#5668F0;}
.calendar-month table .mark span.holiday {color:#f00;}
.calendar-month table .mark span.today:before {background:#5668F0;}
.calendar-month table .mark span.holiday:before {background:#f00;}
.calendar-month table .btn-popopen .mark {margin-top:0;padding-left:0;}
.calendar-month table .calendar-state {margin-top:1px;margin-left:24px;text-align:left;}
.calendar-month table .calendar-state li{display:block;margin-top:5px;margin-left:0;}

/* popup : 일간일정  */
.popcalendar .cont {padding:40px 50px;}
.popcalendar .datebannerwrap {position:relative;}
.popcalendar .datebannerswiper {border-radius:10px;box-shadow:#ddd 0px 3px 10px;overflow:hidden;}
.popcalendar .calendar-state {margin:0;padding:17px 20px;background:#F2F2F2;text-align:left;}
.popcalendar .calendar-state li {margin-left:0;margin-right:16px;}
.popcalendar .date-list {padding:20px;}
.popcalendar .swiper-slide {position:relative;background:#fff;}
.popcalendar .swiper-button-prev-date {position:absolute;top:50%;left:-40px;width:40px;height:40px;margin-top:-20px;cursor:pointer;}
.popcalendar .swiper-button-prev-date:after {content:"";position:absolute;top:0;left:0;width:100%;height:100%;background:url("../img/ems/btn_swiperprev.png") no-repeat 0 0;}
.popcalendar .swiper-button-next-date {position:absolute;top:50%;right:-40px;width:40px;height:40px;margin-top:-20px;cursor:pointer;}
.popcalendar .swiper-button-next-date:after {content:"";position:absolute;top:0;left:0;width:100%;height:100%;background:url("../img/ems/btn_swipernext.png") no-repeat 0 0;}

/* popup : 발송결재라인 등록 */
.popsendenroll h4 {padding-bottom:7px;font-size:16px;font-weight:600;border-bottom:1px solid #111;}
.popsendenroll .graybox {float:left;width:300px;height:490px;margin-top:0;}
.popsendenroll .graybox + .graybox {margin-left:20px;}
.popsendenroll .content-area {padding:20px;}
.popsendenroll .filebox input {width:182px;}
.popsendenroll .filebox .btn {width:68px;margin-left:10px;}
.popsendenroll .user {margin-top:20px;}
.popsendenroll .user li {margin-top:10px;}
.popsendenroll .user strong {margin-right:10px;padding-left:17px;background:url("../img/ems/btn_user.png") no-repeat 0 4px;color:#666;font-weight:600;}
.popsendenroll .user span {color:#666;}
.popsendenroll .user span:last-child:before {content:"|";display:inline-block;margin:0 5px 0 3px;}
.popsendenroll .user li.active strong {color:#5668F0;background-position:0 -23px;}
.popsendenroll .btn-area {position:absolute;top:200px;right:-57px;}
.popsendenroll .btn-area button {display:block;width:30px;height:30px;margin-bottom:15px;}
.popsendenroll .btn-area .btn-remove {background:url("../img/ems/arrow_left.png") no-repeat 0 0;}
.popsendenroll .btn-area .btn-add {background:url("../img/ems/arrow_right.png") no-repeat 0 0;}
.popsendenroll .requester {display:flex;justify-content:space-between;margin-bottom:20px;padding:15px 13px 15px 23px;border-bottom:1px solid #E1E1E1;}
.popsendenroll .requester span {color:#666;}
.popsendenroll .grid-area {padding:0;}
.popsendenroll .grid thead th {font-weight:400;}
.popsendenroll .grid .btn-minus {display:inline-block;width:15px;height:15px;background:url("../img/common/form_minus.png") no-repeat 0 0;}
.popsendenroll .grid .btn-minus:hover {background-position:0 -25px;}
.popsendenroll .btn-wrap {margin-top:30px;}

/* popup : HTML 등록 */
.pophtmlenroll {}
.pophtmlenroll .filesize {}
.pophtmlenroll .btn-wrap {margin-top:50px;}
.pophtmlenroll .list-star {margin-bottom:-30px;}
