@charset "utf-8";

/**
 * --------------------------------
 * style CSS
 * creator : chowoobin, leejeha
 * --------------------------------
*/



/* float 해제 content:'';display:block;clear:both; */
/* display, float, position, top, left, right, bottom, width, height, margin, padding, background, 
color, font-family, font-size, font-weight, text-align, border, border-radius, vertical, line-height, opacity, 
overflow, box-sizing, z-index, transition, transform */

/* 
font weight
200 light
400 regular
500 medium
600 bold
*/


/* login */
#login {position:relative;width:100%;min-width:1180px;max-width:1920px;height:100%;background:url('../img/common/login_bg.png') no-repeat center bottom;}
#login .login-inner {position:absolute;top:40%;left:50%;width:580px;margin-top:-300px;margin-left:-290px;text-align:center;}
#login .login-inner .logo {width:230px;height:186px;margin-bottom:30px;}
#login .login-inner .form-box {padding:60px 80px 50px;background:#fff;box-sizing:border-box;border-radius:10px;}
#login .login-inner input {height:50px;margin-top:10px;margin-left:0;padding:0 20px;}
#login .login-inner input:focus, #login .login-inner input:hover {color:#111;border: 1px solid #5668f0;}
#login .login-inner .error {margin-top:10px;text-align:left;}
#login .login-inner .error p {color:#ff0000;}
#login .login-inner .btn.login {display:block;width:100%;height:60px;margin-top:30px;margin-left:0px;margin-bottom:20px;font-size:20px;font-weight:600;line-height:58px;border-radius:10px;}
#login .login-inner .gray_txt {color:#888;}

/* 전체서비스 */
#service .service-inner{width:1180px;min-width:1180px;margin:0 auto;}
#service .service-inner .logo-box{width:220px;height:auto;margin:0 auto;padding:80px 0 120px;text-align: center;}
#service .service-inner .logo-box span{display:block;margin-top:14px;color:#444;font-size:18px;font-weight:400;line-height:28px;}
#service .service-inner .list-area{position:relative;min-width:1180px;margin-bottom:200px;padding:0 65px;background:#fff;}
#service .btn-setting{display:block;position:absolute;top:-75px;right:80px;width:48px;height:45px;background:url('../img/common/icon_commonsetting.png') no-repeat center top / 20px;color:#888;font-size:12px;line-height:72px;}
#service .ums-footer{min-width:1180px;max-width:1920px;text-align:center;color:#888;}

/* service-list */
.service-list:after{content:'';display:block;clear:both;}
.service-list li{position:relative;float:left;width:240px;height:300px;margin-right:30px;text-align:center;border-radius:20px;box-shadow:0px 3px 20px rgba(0,0,0,.1); overflow: hidden;transition:all .4s;}
.service-list li:last-child{margin-right:0;}
.service-list li a{display:block;width:100%;height:300px;padding-top:178px;}
.service-list li a strong{display:block;margin-bottom:6px; color:#111; font-size:24px;font-weight:600;}
.service-list li a p{color:#666; font-size: 15px;}

/* service-list :: background color, image */
.service-list li:nth-child(1) a{background:#fff url('../img/common/icon_ems_default.png') no-repeat center 40px;}
.service-list li:nth-child(2) a{background:#fff url('../img/common/icon_rns_default.png') no-repeat center 40px;}
.service-list li:nth-child(3) a{background:#fff url('../img/common/icon_sms_default.png') no-repeat center 40px;}
.service-list li:nth-child(4) a{background:#fff url('../img/common/icon_push_default.png') no-repeat center 40px;}

/* service-list :: 마우스오버 시 background color, image */
.service-list li:hover {margin-top:-15px; transition:all .4s;}
.service-list li:nth-child(1):hover a{background:#5668F0 url('../img/common/icon_ems_hover.png') no-repeat center 40px;}
.service-list li:nth-child(2):hover a{background:#AF00EE url('../img/common/icon_rns_hover.png') no-repeat center 40px;}
.service-list li:nth-child(3):hover a{background:#1EC89A url('../img/common/icon_sms_hover.png') no-repeat center 40px;}
.service-list li:nth-child(4):hover a{background:#FFA246 url('../img/common/icon_push_hover.png') no-repeat center 40px;}
.service-list li:hover a strong{color:#fff;}
.service-list li:hover a p{color:#fff;}

/* popup : EMS 신규 메일 발송 */
.popmailsend .inner {max-width:620px;}
.popmailsend .list-wrap {padding:8px 20px;}
.popmailsend .list-wrap:after {content:'';display:block;clear:both;}
.popmailsend .list-wrap li {float:left; width:240px;height:352px;margin-right:40px;padding-top:178px;text-align:center;box-shadow:0px 3px 20px rgba(0,0,0,.1);border-radius:20px;}
.popmailsend .list-wrap li:first-child {background:#fff url('../img/common/icon_ems_default.png') no-repeat center 40px;}
.popmailsend .list-wrap li:last-child {margin-right:0;background:#fff url('../img/common/icon_ems_regular.png') no-repeat center 40px;}
.popmailsend .list-wrap li strong {color:#111;font-size:24px;line-height:28px;}
.popmailsend .list-wrap li p {margin-top:6px;font-size:15px;color:#666;line-height:24px;}
.popmailsend .list-wrap a {width:90px;height:35px;margin-top:30px;background:#fff;color:#666;text-align:center;line-height:33px;border:1px solid #e1e1e1;border-radius:6px;transition:all .4s;}
.popmailsend .list-wrap a:hover {background:#5668F0;color:#fff;border-color:#5668F0;}
